#creditCardForm{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50x 150px 50px 50px;
}
form button{
    grid-column:3;
    grid-row:4;
}
#cardFront{
    background-color: lightgray;
    grid-row: 1/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#cardBack{
    background-color: lightblue;
    z-index: -1;
    grid-row: 2/4;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 25px 25px 50px 50px;
}
span{
    font-size: 2em;
    grid-column: 2/3;
    text-align: right;
    margin:auto 0;
}
h1{
    grid-column: 1/2;
}
#cardLabel{
    grid-area:2/1/3/2;
}
#holder{
    grid-area: 3/1/4/2;
}
#expire{
    grid-area:3/2/4/3 ;
}
#threeDigit{
    grid-area: 4/2/5/3;
}
#blackStrip{
    background-color: black;
    grid-area: 2/1/3/3;
}