body{
    text-align: center;
    background-color: #68f;

}

header{
    color: #fff;
}

main{
    background-color: #aaa;
}

#pic-grid{
    display: grid;
}

.close{
    position: absolute;
    top: 5vh;
    right: 2vh;
    font-size: 2em;
}

dialog{
    width: 100%;
    height: 100%;
    background-color: rgba(64,64,64,0.8);
}

img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    display: block;
    margin: 10px auto;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
}

dialog img{
    object-fit: initial;
    width: 90%;
    height: 40%;
    border: none;   
    display: block;
    margin: 20vh auto;
}

.hide {
    display: none;
}

main h2{
    padding-top: 10px;
}

@media screen and (min-width: 700px){
    #pic-grid{
        grid-template-columns: 1fr 1fr;
    }
    dialog img{
        height: 60%;
    }

}

@media screen and (min-width: 1000px){
    #pic-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .smol{
        display: none;
    }
    .hide {
        display: inline;
    }
    a {
        text-decoration: underline;
    }
    dialog img{
        height: 70%;
    }

}