body{
    font-size: 20px;
}
#content{
    max-width: 60%;
    margin: 40px auto;
    border: 2px solid black;
    padding: 40px;
}
img{
    width: 70%;
    display: block;
    margin: 0 auto;
}
h1, h2, p {
    text-align: center;
}

.list{
    list-style-type: none;
}
#topics{
    width: 55%;
    margin: 0 auto;
}
hr{
    height:3px;
    background-color: blue;
    width: 80%;
    margin:0 auto;
}