@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Eagle+Lake&family=Metamorphous&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#logo{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
header{
    background-color: white;
}
hr{
  height: 2px;
  background-color: #396e94;
  border-width: 2px;
  border-color: #396e94;
}
h1{
    display: block;
    text-align: center;
    margin: 0;
    font-family: Metamorphous, "Eagle Lake";
}
h2, h3{
  padding-left: 10px;
}
img{
  display: block;
  width: 250px;
  height: 375px;
  margin: 0 auto;
}
button {
    /*
    lifted from character card css
    slightly modded
    */
    font-family: Ubuntu, Dosis, "sans-serif";
    padding: 8px 12px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    background-color: #396e94;
    color: white;
    font-weight: 550;
    cursor: pointer;
  }
  #buttons {
    text-align: center;
  }
  #stat-card{
    background-color: #381d2a;
    color: #ef27a6;
  }
  #enemy-card{
    text-align: center;
    padding: 0;
  }
  #name{
    padding-top: 15px;
  }
  body{
    background-color: #396e94;
    margin: 0;
    padding: 0;
  }
  #launch-link{
    text-decoration: none;
    color: white;
  }
  #launcher{
    background-color: #381d2a;
  }

  @media screen and (min-width: 600px ){
    #stat-card{
        width: 60%;
        margin:0 auto;
    }
  }